<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.Test01Mapper">
    
    <resultMap type="Test01" id="Test01Result">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
    </resultMap>

    <sql id="selectTest01Vo">
        select id, name, sex from test_01
    </sql>

    <select id="selectTest01List" parameterType="Test01" resultMap="Test01Result">
        <include refid="selectTest01Vo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
        </where>
    </select>
    
    <select id="selectTest01ById" parameterType="Long" resultMap="Test01Result">
        <include refid="selectTest01Vo"/>
        where id = #{id}
    </select>

    <insert id="insertTest01" parameterType="Test01" useGeneratedKeys="true" keyProperty="id">
        insert into test_01
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
         </trim>
    </insert>

    <update id="updateTest01" parameterType="Test01">
        update test_01
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTest01ById" parameterType="Long">
        delete from test_01 where id = #{id}
    </delete>

    <delete id="deleteTest01ByIds" parameterType="String">
        delete from test_01 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>